/.vscode
/ex.cpp
/ex.z.cpp
/ex2.cpp
/gemas1.cpp
/gemas2.cpp
/gemas3.cpp
/iterative_bin_search_kelas.cpp
/kelas1_perkalian_matriks.cpp
/kelas2.cpp
/kelas3.cpp
/kelas_linearsearch.cpp
/laprakmodul2dasarteori.cpp
/modul1_1.cpp
/modul1_2.1.c
/modul1_2.cpp
/modul1_3.cpp
/modul1_4.cpp
/modul1_5.cpp
/modul1_unguided1.cpp
/modul1_unguided2a.cpp
/modul1_unguided2b.cpp
/modul2_1.cpp
/modul2_2.cpp
/modul3_1.cpp
/modul3_2.cpp
/modul3_ung_1.cpp
/modul3_ung_2.cpp
/modul4_gui1.cpp
/modul4_gui2.cpp
/modul4_unguided.cpp
/modul5_gui1.cpp
/modul5_gui2.cpp
/modul5_ungui.cpp
/modul6_gui1.cpp
/modul6_ung1.cpp
/modul6_ung2.cpp
/modul7_gui1.cpp
/modul7_ungu1.cpp
/modul7_ungu2.cpp
/modul8_gui1.cpp
/modul8_gui2.cpp
/modul8_ungu1.cpp
/modul8_ungu2.cpp
/modul8_ungu3.cpp
/modul9_gui1.cpp
/modul9_gui2.cpp
/modul9_ungu1.cpp
/modul9_ungu2.cpp
/output
/postes1.cpp
/postes2.cpp
/postes3.cpp
/postesss.cpp
/queue.cpp
/recursive_binsearch_kelas.cpp
/stact.cpp
/temp.cpp
/tess.cpp
/testing.cpp
/toki1.cpp
/ttpsudo.cpp
/tubes.cpp